<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Dashto - Powerfull Admin Template">
  <meta name="keywords"
    content="admin dashboard, admin panel, dashboard, responsive dashboard, admin template, themeforest, dashboard template, css3, html5">
  <title>Dashto - Powerfull Admin Template</title>
  <link href="/assets/img/logo/favicon.png" rel="icon">
  <link rel="apple-touch-icon" href="/assets/img/logo/touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/logo/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/logo/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/assets/img/logo/touch-icon-ipad-retina.png">
  <link href="/assets/css/vendor.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>   <![endif]-->


  <style>
    img {
      display: block;
      max-width: 100%;
    }

    .preview {
      overflow: hidden;
      width: 160px;
      height: 160px;
      margin: 10px;
      border: 1px solid red;
    }

    .modal-lg {
      max-width: 1000px !important;
    }

    .overlay {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.5);
      overflow: hidden;
      height: 0;
      transition: .5s ease;
      width: 100%;
    }

    .image_area:hover .overlay {
      height: 50%;
      cursor: pointer;
    }

    .text {
      color: #333;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  </style>


  <link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
  <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet" />
  <script src="https://unpkg.com/dropzone"></script>
  <script src="https://unpkg.com/cropperjs"></script>

</head>

<body>
  {{!-- <div id="loader">
    <div id="loader-content">
      <div id="loader-circle"></div><span>Welcome to Electra</span>
    </div>
  </div> --}}
  <div id="wrapper">
    <header id="header"><a href="" id="hamburger"></a>

      <ul class="navbar ml-auto">

        <li> <a href="/admin/logout" class="btn btn-border btn-border-blue btn-sm">Logout</a></li>


        </li>
      </ul>
    </header>
    <aside id="sidebar"><a href="#" class="navbar-brand"><img src="/electra-logo/079931129d47feba3c0c039789c13072.png"
          id="dark-logo" alt="logo"> <img src="/electra-logo/079931129d47feba3c0c039789c13072.png" id="white-logo"
          alt="logo">
        <span>Electra</span></a>
      <div class="user-thumb dropdown"><a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><img src="/electra-logo/118524174_1234758920204001_1331909952313311745_n.jpg"
            alt="user"></a>

        <div class="user-desc"><a href="javascript:void(0);" class="user-name">Mahroof Ali</a></div>
      </div>
      <nav id="sidebar-nav">
        <ul>

          <li><a href="/admin/gethome"><i class="icon ion-speedometer"></i> <span>Dashborad</span> <span
                class="badge badge-pill bg-primary">Home</span></a>
          </li>



          <li class="active"><a href="#" class="sub-nav"><i class="fa fa-product-hunt" aria-hidden="true"></i>
              <span>Product Management</span> </a>
            <ul class="sub-nav-item">
              <li><a href="/admin/product-list">View product</a></li>
              <li><a href="/admin/add-products">Add Product</a></li>
              <li class="active"><a href="#">Edit Product</a></li>
              <li><a href="/admin/brandmngt">Brand Management</a></li>

            </ul>

          </li>

          <li><a href="/admin/view-users"><i class="font-24 fa fa-user"></i>
              <span>User Management</span> </a>

          </li>
          <li><a href="/admin/offer-mngt"><i class="fa fa-gift" aria-hidden="true"></i>
              <span>Offer Management</span> </a>

          </li>
          <li><a href="/admin/order-mngt"><i class="fa fa-list" aria-hidden="true"></i>
              <span>Order Management</span> </a>

          </li>
          <li><a href="/admin/banner-mngt"><i class="fa fa-flag" aria-hidden="true"></i>
                            <span>Banner Management</span> </a>

                    </li>
          <li><a href="/admin/stockReport">


              <i class="fa fa-book" aria-hidden="true"></i>
              <span>Report</span> </a>

          </li>

        </ul>
      </nav>
    </aside>
    <main id="page-wrapper">
      <div class="container-fluid">
        <div class="page-header d-flex">
          <div class="heading page-header-item">
            <h6 class="h6">Electra</h6>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Product Management</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Product</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="card card-shadow p-3">
          <h6 class="h6 card-title">Edit Product</h6>



          <form action="/admin/edit-products" method="POST" {{!--onsubmit="return validationaddressplace()" --}}
            enctype="multipart/form-data" id="add-prod">
            <div class="row">
              <div class="col-6 form-field">

                <input type="text" name="productId" value="{{product._id}}" hidden>


                <label for="product" class="title-small c-blue">Product Name</label>



                <input id="inputName" name="Name" type="text" class="form-control" value="{{product.Name}}">
                <p style="color: red;font-size: 16px;font-family: sans-serif;" id="inputNameWaringMsg"></p>



              </div>
              <div class="col-sm-3 form-field">




                <label for="category" class="form-label c-blue title-small">Category</label>
                <select id="inputcategory" style="margin-top: 13px;" name="Category"
                  class="form-control pro-edt-select form-control-primary category_change">

                  <option>{{product.Category}}</option>
                  {{#each categories }}
                  <option value="{{this.CategoryName}}">{{ this.CategoryName }}</option>
                  {{/each }}
                </select>
                <p style="display: inline ; color: red;font-size: 16px;font-family: sans-serif;" id="SelectCategoryErr">
                </p>



              </div>
              <div class="col-sm-3 form-field">
                <label for="Brand" class="form-label c-blue title-small">Brand</label>

                <select id="inputBrand" style="margin-top: 13px;" name="Brand"
                  class="form-control pro-edt-select form-control-primary">
                  <option>{{product.Brand}}</option>
                  {{#each Brand}}
                  <option value="{{this.brand}}">{{ this.brand}}</option>
                  {{/each }}

                </select>
                <p style="display: inline ; color: red;font-size: 16px;font-family: sans-serif;" id="brandErr"></p>
              </div>

              <div class="col-sm-3 form-field">
                <label for="Brand" class="form-label c-blue title-small">Products Qty</label>

                <input id="totalProducts" name="totalProducts" style="margin-right: 10px; " type="text"
                  class="form-control" value="{{product.totalProducts}}">


                <p style="display: inline ; color: red;font-size: 16px;font-family: sans-serif;" id="stockErr"></p>

              </div>

              <div class="col-sm-3 form-field">
                <label for="sku" class="form-label c-blue title-small">Enter Landing Price
                </label>


                <input id="landingCost" name="LandingCost" style="margin-right: 10px; " type="text" class="form-control"
                  value="{{product.LandingCost}}">
                <p style="color: red;font-size: 16px;font-family: sans-serif;" id="LndcostErr"></p>

              </div>
              <div class="col-sm-3 form-field">
                <label for="sku" class="form-label c-blue title-small">Enter Sale Price

                  <input id="inputSalePrice" name="SalePrice" style="margin-top:10px;" type="text" class="form-control"
                    value="{{product.SalePrice}}">

                  <p style="color: red;font-size: 16px;font-family: sans-serif;" id="salePriceErr"></p>


              </div>

              {{!-- radio --}}
              <div class="col-sm-3 form-field">



                <label for="sku" class="form-label c-blue title-small">Sale Type</label>
                {{#if Featured}}
                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="SaleType" id="flexRadioDefault1" value="Featured"
                    checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Featured Products
                  </label>
                </div>
                {{else}}
                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="SaleType" id="flexRadioDefault1" value="Featured">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Featured Products
                  </label>
                </div>

                {{/if}}
                {{#if Latest}}
                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="SaleType" id="flexRadioDefault2" value="Latest"
                    checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    Latest Products
                  </label>
                </div>
                {{else}}
                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="SaleType" id="flexRadioDefault2" value="Latest">
                  <label class="form-check-label" for="flexRadioDefault2">
                    Latest Products
                  </label>
                </div>
                {{/if}}

                {{#if TopSelling}}
                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="SaleType" id="flexRadioDefault3" value="TopSelling"
                    checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Top selling
                  </label>
                </div>
                {{else}}
                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="SaleType" id="flexRadioDefault3"
                    value="TopSelling">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Top selling
                  </label>
                </div>
                {{/if}}
                {{#if OtherSale}}
                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="SaleType" id="flexRadioDefault4" value="Normal"
                    checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    Normal Sale
                  </label>
                </div>
                {{else}}
                <div class="form-check mt-2">
                  <input class="form-check-input" type="radio" name="SaleType" id="flexRadioDefault4" value="Normal">
                  <label class="form-check-label" for="flexRadioDefault2">
                    Normal Sale
                  </label>
                </div>
                {{/if}}


              </div>

              {{!-- end --}}

              <div class="col-6 form-field">
                <label for="desc" class="form-label c-blue title-small">Description</label>

                <input id="inputDescription" name="Description" style="height: 100px; margin-top:10px;" type="text"
                  class="form-control" value="{{product.Description}}">
                <small style="color: red; font-family: sans-serif; font-weight: lighter;" id="DescriptionErr"></small>


              </div>
              <div class="col-sm-6 d-flex align-items-center form-field">

              </div>


            </div>
            {{!-- croper start --}}

            <div style="display: flex; justify-content: center; margin-top: 30px;">
              <div id="image-box1" style="width: 400px; height: 400px; display: none;">
              </div>
              <div>

                <button class="btn btn-primary" type="button" style="display: none; margin-left: 20px;"
                  id="crop-btn1">Crop</button>
              </div>

            </div>








            <div style="margin-top: 20px; padding-left: 20px; padding-right: 20px;" class="row">
              <div class="col-sm-3">
                <label style="color: white; margin-left: 20px;" for="">IMAGE (1)</label>
                <img src="/product-images/{{product._id}}11.jpg"
                  style="width: 282px; height:200px; margin-bottom: 5px; border: solid rgb(219, 202, 202) 1px;"
                  id="imgview1">
                <p style="margin-left: 10px; color: red;font-size: 16px;font-family: sans-serif;" id="img1"></p>
                <input style="display: inline;" type="file" name="image1" id="file1" class="form-control"
                  onchange="return fileValidation1()">


              </div>
              <div class="col-sm-3">
                <label style="color: white;margin-left: 20px;" for="">IMAGE (2)</label>
                <img src="/product-images/{{product._id}}22.jpg"
                  style="width:  282px; height:200px; margin-bottom: 5px; border: solid rgb(219, 202, 202) 1px;"
                  id="imgview2">
                <p style="color: red;font-size: 16px;font-family: sans-serif;" id="img2"></p>
                <input style="" type="file" name="image2" id="file2" class="form-control"
                  onchange="return fileValidation2()">
              </div>
              <div class="col-sm-3">
                <label style="color: white;margin-left: 20px;" for="">IMAGE (3)</label>
                <img src="/product-images/{{product._id}}33.jpg"
                  style="width:  282px; height:200px; margin-bottom: 5px; border: solid rgb(219, 202, 202) 1px;"
                  id="imgview3">

                <p style="color: red;font-size: 16px;font-family: sans-serif;" id="img3"></p>
                <input type="file" name="image3" id="file3" class="form-control" onchange="return fileValidation3()">

              </div>
              <div class="col-sm-3">
                <label style="color: white;margin-left: 60px;" for="">IMAGE (4)</label>
                <img src="/product-images/{{product._id}}44.jpg"
                  style="width:282px; height:200px; margin-bottom: 5px; border: solid rgb(219, 202, 202) 1px;"
                  id="imgview4">


                <p style="color: red;font-size: 16px;font-family: sans-serif;" id="img4"></p>
                <input type="file" name="image4" id="file4" class="form-control" onchange="return fileValidation4()">
              </div>

            </div>


            <div class="col-sm-6 form-field m-3">
              <div class="btns justify-content-end">

                <button type="submit" class="btn bg-green" id="confirm-btn1">Save </button>
                <button type="reset" onClick="clear()" class="btn btn-border-gray">Cancel</button>

              </div>


            </div>

















            {{!-- croper end --}}



            {{!-- <div class="col-sm-6 form-field">
              <div class="btns justify-content-end"><input type="submit" class="btn bg-green" value="Save"> <input
                  type="submit" class="btn btn-border-gray" value="Cancel"></div>
            </div> --}}
          </form>
        </div>

      </div>
      <footer class="text-center mb-4">© 2018 Dashto by kri8thm.com</footer>
  </div>
  </main>
  <aside id="right-sidebar"></aside>
  </div>
  <script src="/assets/js/vendor.js"></script>
  <script src="/assets/js/base/init.switcher.js"></script>
  <script src="/assets/js/base/custom.js"></script>
</body>

<script>

  //Cropper js function

  function fileValidation1() {

    const imagebox = document.getElementById('image-box1')
    const crop_btn = document.getElementById('crop-btn1')
    var fileInput = document.getElementById('file1');

    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if (!allowedExtensions.exec(filePath)) {
      fileInput.value = '';
      swal({
        title: "Ther is a problem!",
        text: "This File is not support , Please add an image file !",
        icon: "warning",
      });
      return false;
    } else {
      //Image preview
      const img_data = fileInput.files[0]
      const url = URL.createObjectURL(img_data)
      imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
      const image = document.getElementById('image')
      document.getElementById('image-box1').style.display = 'block'
      document.getElementById('crop-btn1').style.display = 'block'
      document.getElementById('confirm-btn1').style.display = 'none'

      const cropper = new Cropper(image, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 30 / 19,
        //preview: '.preview',
        minCropBoxWidth: 180,
        minCropBoxHeight: 240,
      })
      crop_btn.addEventListener('click', () => {
        cropper.getCroppedCanvas().toBlob((blob) => {
          let fileInputElement = document.getElementById('file1');
          let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
          let container = new DataTransfer();

          container.items.add(file);
          const img = container.files[0]
          var url = URL.createObjectURL(img)
          fileInputElement.files = container.files;
          document.getElementById('imgview1').src = url
          document.getElementById('image-box1').style.display = 'none'
          document.getElementById('crop-btn1').style.display = 'none'
          document.getElementById('confirm-btn1').style.display = 'block'
        }, 'image/webp', 0.5);
      });
    }
  }
  function fileValidation2() {
    const imagebox = document.getElementById('image-box1')
    const crop_btn = document.getElementById('crop-btn1')
    var fileInput = document.getElementById('file2');

    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if (!allowedExtensions.exec(filePath)) {
      swal({
        title: "Ther is a problem!",
        text: "This File is not support , Please add an image file !",
        icon: "warning",
      });
      fileInput.value = '';
      return false;
    } else {
      //Image preview
      const img_data = fileInput.files[0]
      const url = URL.createObjectURL(img_data)
      imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
      const image = document.getElementById('image')
      document.getElementById('image-box1').style.display = 'block'
      document.getElementById('crop-btn1').style.display = 'block'
      document.getElementById('confirm-btn1').style.display = 'none'

      const cropper = new Cropper(image, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 30 / 19,
        //  preview: '.preview',
        minCropBoxWidth: 180,
        minCropBoxHeight: 240,
      })
      crop_btn.addEventListener('click', () => {
        cropper.getCroppedCanvas().toBlob((blob) => {
          let fileInputElement = document.getElementById('file2');
          let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
          let container = new DataTransfer();

          container.items.add(file);
          const img = container.files[0]
          var url = URL.createObjectURL(img)
          fileInputElement.files = container.files;
          document.getElementById('imgview2').src = url
          document.getElementById('image-box1').style.display = 'none'
          document.getElementById('crop-btn1').style.display = 'none'
          document.getElementById('confirm-btn1').style.display = 'block'
        }, 'image/webp', 0.5);
      });
    }
  }
  function fileValidation3() {
    const imagebox = document.getElementById('image-box1')
    const crop_btn = document.getElementById('crop-btn1')
    var fileInput = document.getElementById('file3');

    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if (!allowedExtensions.exec(filePath)) {
      swal({
        title: "Ther is a problem!",
        text: "This File is not support , Please add an image file !",
        icon: "warning",
      });
      fileInput.value = '';
      return false;
    } else {
      //Image preview
      const img_data = fileInput.files[0]
      const url = URL.createObjectURL(img_data)
      imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
      const image = document.getElementById('image')
      document.getElementById('image-box1').style.display = 'block'
      document.getElementById('crop-btn1').style.display = 'block'
      document.getElementById('confirm-btn1').style.display = 'none'

      const cropper = new Cropper(image, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 30 / 19,
        //  preview: '.preview',
        minCropBoxWidth: 180,
        minCropBoxHeight: 240,
      })
      crop_btn.addEventListener('click', () => {
        cropper.getCroppedCanvas().toBlob((blob) => {
          let fileInputElement = document.getElementById('file3');
          let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
          let container = new DataTransfer();

          container.items.add(file);
          const img = container.files[0]
          var url = URL.createObjectURL(img)
          fileInputElement.files = container.files;
          document.getElementById('imgview3').src = url
          document.getElementById('image-box1').style.display = 'none'
          document.getElementById('crop-btn1').style.display = 'none'
          document.getElementById('confirm-btn1').style.display = 'block'
        }, 'image/webp', 0.5);
      });
    }
  }
  function fileValidation4() {
    const imagebox = document.getElementById('image-box1')
    const crop_btn = document.getElementById('crop-btn1')
    var fileInput = document.getElementById('file4');

    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if (!allowedExtensions.exec(filePath)) {
      swal({
        title: "Ther is a problem!",
        text: "This File is not support , Please add an image file !",
        icon: "warning",
      });
      fileInput.value = '';
      return false;
    } else {
      //Image preview
      const img_data = fileInput.files[0]
      const url = URL.createObjectURL(img_data)
      imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
      const image = document.getElementById('image')
      document.getElementById('image-box1').style.display = 'block'
      document.getElementById('crop-btn1').style.display = 'block'
      document.getElementById('confirm-btn1').style.display = 'none'

      const cropper = new Cropper(image, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 30 / 19,
        //  preview: '.preview',
        minCropBoxWidth: 180,
        minCropBoxHeight: 240,
      })
      crop_btn.addEventListener('click', () => {
        cropper.getCroppedCanvas().toBlob((blob) => {
          let fileInputElement = document.getElementById('file4');
          let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
          let container = new DataTransfer();

          container.items.add(file);
          const img = container.files[0]
          var url = URL.createObjectURL(img)
          fileInputElement.files = container.files;
          document.getElementById('imgview4').src = url
          document.getElementById('image-box1').style.display = 'none'
          document.getElementById('crop-btn1').style.display = 'none'
          document.getElementById('confirm-btn1').style.display = 'block'
        }, 'image/webp', 0.5);
      });
    }
  }
</script>




{{!-- form validation --}}
<script>
  function validationaddressplace() {
    var name = document.getElementById("inputName").value;
    var category = document.getElementById("inputcategory").value;
    var inputBrand = document.getElementById('inputBrand').value;
    var totalProducts = document.getElementById('totalProducts').value;
    var LandingCost = document.getElementById('landingCost').value;
    var SalePrice = document.getElementById('inputSalePrice').value;

    var Description = document.getElementById('inputDescription').value;
    var image1 = document.getElementById("file1").value
    var image2 = document.getElementById("file2").value
    var image3 = document.getElementById("file3").value
    var image4 = document.getElementById("file4").value
    var Err
    if (name == "") {
      document.getElementById("inputNameWaringMsg").innerHTML = "Please enter product name";
      Err = true
    } else {
      console.log('ok')
    }
    if (!isNaN(name)) {

      document.getElementById("inputNameWaringMsg").innerHTML =
        " Enter the valid characters";
      Err = true
    } else {
      console.log('ok')
    }
    if (category == "123") {

      document.getElementById("SelectCategoryErr").innerHTML = "Please  Select Category";
      Err = true

    } else {
      console.log('ok')
    }

    if (inputBrand == '123') {
      document.getElementById('brandErr').innerHTML = 'Please Select Brand';
      Err = true
    } else {
      console.log('ok')
    }

    if (totalProducts == '') {
      document.getElementById('stockErr').innerHTML = "Please Enter Product Quantity";
      Err = true
    } else {
      console.log('ok')
    }

    if (LandingCost == '') {
      document.getElementById('LndcostErr').innerHTML = 'please Enter Landing Cost'
      Err = true
    } else {
      console.log('ok')
    }
    if (isNaN(LandingCost)) {
      document.getElementById('LndcostErr').innerHTML = 'Enter the valid characters'
      Err = true
    } else {
      console.log('ok')
    }

    if (SalePrice == '') {
      document.getElementById('salePriceErr').innerHTML = 'Please Enter Sale Price'
      Err = true
    } else {
      console.log('ok')
    }
    if (isNaN(SalePrice)) {
      document.getElementById('salePriceErr').innerHTML = 'Enter the valid characters'
      Err = true
    } else {
      console.log('ok')
    }


    if (Description == "") {
      document.getElementById('DescriptionErr').innerHTML = "Please Enter Description"
      Err = true
    } else {
      console.log('ok')
    }
    if (image1 == "") {

      document.getElementById("img1").innerHTML =
        "Please Upload Image here";
      Err = true

    } else {
      console.log('ok')
    }
    if (image2 == "") {
      document.getElementById("img2").innerHTML =
        "Please Upload Image here";
      Err = true

    } else {
      console.log('ok')
    }
    if (image3 == "") {
      document.getElementById("img3").innerHTML =
        "Please Upload Image here";
      Err = true
    } else {
      console.log('ok')
    }
    if (image4 == "") {
      document.getElementById("img4").innerHTML =
        "Please Upload Image here";
      Err = true
    } else {
      console.log('ok')
    }


    if (Err) {
      return false
    }

  }
</script>


<script>

  function clear() {
    document.getElementsByClassName("myForm").reset();
  }
</script>


<script src=" https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>


{{!-- seat alert CDN --}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



</html>