<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Dashto - Powerfull Admin Template">
    <meta name="keywords"
        content="admin dashboard, admin panel, dashboard, responsive dashboard, admin template, themeforest, dashboard template, css3, html5">
    <title>Dashto - Powerfull Admin Template</title>
    <link href="../assets/img/logo/favicon.png" rel="icon">
    <link rel="apple-touch-icon" href="../assets/img/logo/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/img/logo/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/logo/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../assets/img/logo/touch-icon-ipad-retina.png">
    <link href="../assets/css/vendor.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    {{!-- ajax cdn --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<body>
    {{!-- <div id="loader">
        <div id="loader-content">
            <div id="loader-circle"></div><span>Welcome to Electra</span>
        </div>
    </div> --}}
    <div id="wrapper">


        {{!-- --}}

        <header id="header"><a href="" id="hamburger"></a>

            <ul class="navbar ml-auto">

                <li> <a href="/admin/logout" class="btn btn-border btn-border-blue btn-sm">Logout</a></li>


                </li>
            </ul>
        </header>
        {{!-- --}}

        <aside id="sidebar"><a href="#" class="navbar-brand"><img
                    src="/electra-logo/079931129d47feba3c0c039789c13072.png" id="dark-logo" alt="logo"> <img
                    src="/electra-logo/079931129d47feba3c0c039789c13072.png" id="white-logo" alt="logo">
                <span>Electra</span></a>
            <div class="user-thumb dropdown"><a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><img src="/electra-logo/118524174_1234758920204001_1331909952313311745_n.jpg"
                        alt="user"></a>

                <div class="user-desc"><a href="javascript:void(0);" class="user-name">Mahroof Ali</a></div>
            </div>
            <nav id="sidebar-nav">
                <ul>

                    <li><a href="/admin/gethome"><i class="icon ion-speedometer"></i> <span>Dashborad</span> <span
                                class="badge badge-pill bg-primary">Home</span></a>
                    </li>



                    <li><a href="/admin/product-list"><i class="fa fa-product-hunt" aria-hidden="true"></i>
                            <span>Product Management</span> </a>

                    </li>

                    <li><a href="/admin/view-users"><i class="font-24 fa fa-user"></i>
                            <span>User Management</span> </a>

                    </li>
                    <li class="active"><a href="#" class="sub-nav"><i class="fa fa-gift" aria-hidden="true"></i>
                            <span>Offer Management</span> </a>
                        <ul class="sub-nav-item">
                            <li><a href="/admin/offer-mngt"> Category Offers</a></li>

                            <li class="active"><a href="/admin/product-offer">Product Offers</a></li>
                            <li><a href="/admin/coupon-mngt">Coupon Management</a></li>
                        </ul>

                    </li>

                    <li><a href="/admin/order-mngt"><i class="fa fa-list" aria-hidden="true"></i>
                            <span>Order Management</span> </a>

                    </li>
                    <li><a href="/admin/banner-mngt"><i class="fa fa-flag" aria-hidden="true"></i>
                            <span>Banner Management</span> </a>

                    </li>
                    <li><a href="/admin/stockReport">


                            <i class="fa fa-book" aria-hidden="true"></i>
                            <span>Report</span> </a>

                    </li>
                </ul>
            </nav>
        </aside>


        <main id="page-wrapper">
            <div class="container-fluid">
                <div class="page-header d-flex">
                    <div class="heading page-header-item">
                        <h6 class="h6">Electra</h6>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Offer Management</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product offers</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="page-header-item ml-auto"><a href="" class="btn btn-primary" data-toggle="modal"
                            data-target="#add-offer">Add New
                            Offers</a></div>
                </div>


                <div class="card card-shadow p-3">
                    <h6 class="h6 card-title">Product Offers List</h6>
                    <table id="datatable" class="table table-bordered table-hover mb-0">
                        <thead>
                            <tr>
                                <th>NO</th>
                                <th>Product</th>
                                <th>Discount %</th>
                                <th>Validity</th>

                                <th>Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            {{#each productOff}}
                            <tr>


                                <td class="create_index"></td>
                                <td>{{this.Product}}</td>
                                <td>{{this.Discount}}%</td>
                                <td>{{this.Validity}}</td>

                                <td>
                                    <a style="background-color: whitesmoke;"
                                        onclick="deleteProOffer('{{this._id}}','{{this.Product}}')"><i
                                            style="font-size: 25px;" class="text-danger fa fa-times"
                                            aria-hidden="true"></i></a>


                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>



                <footer class="text-center mb-4">© 2018 Electra www.electra.com</footer>
            </div>
        </main>

        <div id="add-offer" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="h6">Add Product Offer </h6><button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <form id="proOfferForm" class="row form">

                                    <div class="col-sm-4 form-field"><label for="product" class="form-label">Search and
                                            Select Products
                                        </label>
                                        <input list="prod" name="Product" id="product" class="custom-select">
                                        <datalist id="prod">
                                            {{#each products}}
                                            <option class="text-dark" value="{{this.Name}}">
                                            </option>
                                            {{/each}}
                                        </datalist>

                                    </div>
                                    <div class="col-sm-4 form-field"><label for="validity" class="form-label"> Validity
                                        </label>
                                        <input name="Validity" type="datetime-local" id="validity" class="form-control">
                                    </div>





                                    <div class="col-sm-4 form-field"><label for="discount" class="form-label">Discount %
                                        </label> <input name="Discount" type="text" id="discount" class="form-control">
                                    </div>




                                    <div class="col-sm-12 form-field">
                                        <div class="btns justify-content-end"><input type="submit" class="btn bg-green"
                                                value="Save"> <button type="button" class="btn btn-border-gray"
                                                data-dismiss="modal" aria-label="Close">Cancel</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- indexing table --}}

    <script>

        var divs = document.querySelectorAll('.create_index');
        for (var i = 0; i < divs.length; ++i) {
            divs[i].innerHTML = i + 1;
        }

    </script>

    {{!-- end indexing --}}

    {{!-- delete fetch and sweet CDN --}}

    <script>

        var divs = document.querySelectorAll('.create_index');
        for (var i = 0; i < divs.length; ++i) {
            divs[i].innerHTML = i + 1;
        }

    </script>
    {{!-- seatalert --}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    <script src="/javascripts/offer.js"></script>
    {{!-- end feth and sweet --}}



    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/component/datatable/init.datatable.js"></script>
    <script src="/assets/js/base/init.switcher.js"></script>
    <script src="/assets/js/base/custom.js"></script>
</body>

</html>