<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Dashto - Powerfull Admin Template">
    <meta name="keywords"
        content="admin dashboard, admin panel, dashboard, responsive dashboard, admin template, themeforest, dashboard template, css3, html5">
    <title>Dashto - Powerfull Admin Template</title>
    <link href="/assets/img/logo/favicon.png" rel="icon">
    <link rel="apple-touch-icon" href="/assets/img/logo/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/logo/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/logo/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/img/logo/touch-icon-ipad-retina.png">
    <link href="/assets/css/vendor.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {{!-- <div id="loader">
        <div id="loader-content">
            <div id="loader-circle"></div><span>Welcome to Electra</span>
        </div>
    </div> --}}
    <div id="wrapper">
        <header id="header"><a href="" id="hamburger"></a>

            <ul class="navbar ml-auto">

                <li> <a href="/admin/logout" class="btn btn-border btn-border-blue btn-sm">Logout</a></li>


                </li>
            </ul>
        </header>

        <aside id="sidebar"><a href="#" class="navbar-brand"><img
                    src="/electra-logo/079931129d47feba3c0c039789c13072.png" id="dark-logo" alt="logo"> <img
                    src="/electra-logo/079931129d47feba3c0c039789c13072.png" id="white-logo" alt="logo">
                <span>Electra</span></a>
            <div class="user-thumb dropdown"><a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><img src="/electra-logo/118524174_1234758920204001_1331909952313311745_n.jpg"
                        alt="user"></a>

                <div class="user-desc"><a href="javascript:void(0);" class="user-name">Mahroof Ali</a></div>
            </div>
            <nav id="sidebar-nav">
                <ul>

                    <li><a href="/admin/gethome"><i class="icon ion-speedometer"></i> <span>Dashborad</span> <span
                                class="badge badge-pill bg-primary">Home</span></a>
                    </li>



                    <li class="active"><a href="#" class="sub-nav"><i class="fa fa-product-hunt" aria-hidden="true"></i>
                            <span>Product Management</span> </a>
                        <ul class="sub-nav-item">
                            <li class="active"><a href="#">View product</a></li>
                            <li><a href="/admin/add-products">Add Product</a></li>
                            <li><a href="/admin/category-mngt">Manage Category</a></li>
                            <li><a href="/admin/brandmngt">Manage Brand</a></li>
                        </ul>

                    </li>

                    <li><a href="/admin/view-users"><i class="font-24 fa fa-user"></i>
                            <span>User Management</span> </a>

                    </li>
                    <li><a href="/admin/offer-mngt"><i class="fa fa-gift" aria-hidden="true"></i>
                            <span>Offer Management</span> </a>

                    </li>
                    <li><a href="/admin/order-mngt"><i class="fa fa-list" aria-hidden="true"></i>
                            <span>Order Management</span> </a>

                    </li>
                    <li><a href="/admin/banner-mngt"><i class="fa fa-flag" aria-hidden="true"></i>
                            <span>Banner Management</span> </a>

                    </li>
                    <li><a href="/admin/stockReport">


                            <i class="fa fa-book" aria-hidden="true"></i>
                            <span>Report</span> </a>

                    </li>

                </ul>
            </nav>
        </aside>
        <main id="page-wrapper">
            <div class="container-fluid">
                <div class="page-header d-flex">
                    <div class="heading page-header-item">
                        <h6 class="h6">Electra</h6>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Product Management</a></li>
                                <li class="breadcrumb-item active" aria-current="page">View product</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="page-header-item ml-auto"><a href="/admin/add-products" class="btn btn-primary">Add New
                            Product</a></div>
                </div>
                <div class="card card-shadow p-3">
                    <h6 class="h6 card-title">Product List</h6>
                    <table id="datatable" class="table table-bordered table-hover mb-0">
                        <thead>
                            <tr>
                                <th>IMAGE</th>
                                <th>PRODUCT TITLE</th>
                                <th>CATEGORY</th>
                                <th>BRAND</th>
                                <th>LANDING COST</th>
                                <th>SALE PRICE</th>
                                <th>STOCK</th>
                                <th class="dt-bg-trans">ACTIONS</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td><img style="width: 70px;" src="/product-images/{{this._id}}11.jpg"></td>
                                <td><b> {{this.Name}} </b></td>
                                <td>{{this.Category}}</td>
                                <td>{{this.Brand}}</td>
                                <td>{{this.LandingCost}}</td>
                                <td>{{this.SalePrice}} </td>
                                <td>{{this.stock}}</td>
                                <td>
                                    <a style="background-color: whitesmoke;" class="btn "
                                        href="/admin/edit-product/{{this._id}}"> <i style="font-size: 25px;"
                                            class="text-success  fa fa-pencil-square-o" aria-hidden="true"></i></a>

                                    <button style="background-color: whitesmoke;" class="btn"
                                        onclick="deleteItem(event,'{{this._id}}','{{this.Name}}')"><i
                                            style="font-size: 25px;" class="text-danger fa fa-trash"
                                            aria-hidden="true"></i></button>

                                </td>
                                 
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <footer class="text-center mb-4">© 2018 Dashto by kri8thm.com</footer>
            </div>
        </main>
        <aside id="right-sidebar"></aside>
    </div>
    {{!-- seat alert CDN --}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    <script src="/javascripts/productdelete.js"></script>

    {{!-- delete end --}}
    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/component/datatable/init.datatable.js"></script>
    <script src="/assets/js/base/init.switcher.js"></script>
    <script src="/assets/js/base/custom.js"></script>
</body>

</html>