<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/CodSuccess.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    {{!-- GOOGLE FOUNT --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{!-- Font Awesome --}}
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    {{!-- table --}}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">

    <script defer type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

    {{!-- ajax cdn --}}

    <link rel="stylesheet" href="/stylesheets/order.css">
    <link rel="stylesheet" href="/stylesheets/wishlist.css">
   
</head>

<body>

    <!-- Header -->
    <div class="container-fluid sticky-top">

        <header class="row">

            <div class="col-12 bg-dark p-3">
                <div class="row align-item">
                    <div class="col-lg-auto text-center">

                        <strong> <a class="text-white site-logo" style="text-decoration: none;"
                                href="/">Electra</a></strong>

                    </div>
                    <div class="col-lg-5 mx-auto mt-lg-0" style="font-family: 'Open Sans Condensed', sans-serif;">
                        <form action="/search" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <input name="content" type="text" class="form-control border-dark"
                                        placeholder="Search..." required>
                                    <button type="submit" class="btn btn-warning">
                                        <span class="text-dark material-icons">
                                            search
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>



                    <div class="col-lg-auto text-center text-lg-left header-item-holder ">



                        <a href="/wishlist" class="header-item">
                            <i class="text-white far fa-heart me-2"></i>

                            <span style="position: relative; bottom: 10px; right: 20px;"
                                class="bg-danger badge badge-light" id="countWishlist"></span>

                        </a>

                        <a href="/cart" class="header-item">
                            <i class="far fa-shopping-bag me-2 text-white"></i>



                            <span style="position: relative; bottom: 10px; right: 20px;"
                                class=" bg-danger badge badge-light" id="countCart"></span>


                        </a>
                        <a class="text-decoration-none dropdown-toggle text-white" href="#" role="button"
                            id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            {{#if sessionData}}

                            {{sessionData.Name}}
                            {{else}}
                            Account
                            {{/if}}

                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {{#unless sessionData}}

                            <li><a class="text-decoration-none dropdown-item" href="/login">Login</a></li>
                            {{/unless}}

                            {{#if sessionData}}
                            <li><a class="text-decoration-none dropdown-item" href="/logout">Logout</a></li>
                            <li><a class="text-decoration-none dropdown-item" href="/orders-page">My
                                    Order</a></li>
                            <li><a class="text-decoration-none dropdown-item" href="/profile">My profile</a>
                            </li>

                            {{/if}}
                        </ul>


                    </div>
                    {{!-- <div class="col-lg-auto dropdown">

                    </div> --}}
                </div>

            </div>

        </header>
    </div>


    <nav class="navbar navbar-expand-lg ftco_navbar  ftco-navbar-light" id="ftco-navbar">
        <div class="container-fluid">

            <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="text-white fa fa-bars"></span> Categories
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav m-auto">
                    {{#each Category}}
                    <li class="nav-item active"><a href="/getProductsByCategory/{{this.CategoryName}}"
                            class="nav-link">{{this.CategoryName}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </nav>
    <!--header -->
    <!-- Main Content -->

    {{#if banner}}

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="/ELECTRA BANNER/{{banner.[0]._id}}11.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: aliceblue;">{{banner.[0].BannerHedding}}</h5>
                    <p style="color: aliceblue;">{{banner.[0].BannerText}}</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="/ELECTRA BANNER/{{banner.[0]._id}}11.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: aliceblue;">{{banner.[0].BannerHedding}}</h5>
                    <p style="color: aliceblue;">{{banner.[0].BannerText}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/ELECTRA BANNER/{{banner.[0]._id}}11.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: aliceblue;">{{banner.[0].BannerHedding}}</h5>
                    <p style="color: aliceblue;">{{banner.[0].BannerText}}</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            {{!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> --}}
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            {{!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> --}}
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {{/if}}


    <!-- Main Content -->
    <!-- Footer -->
    <div style="font-family: 'Open Sans Condensed', sans-serif;" class="col-12 align-self-end p-0">

        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn  btn-floating m-1" href="#!" role="button"><img width="30px"
                            src="/snipp-cards/visa.png" alt=""></a>

                    <!-- Twitter -->
                    <a class="btn btn-floating m-1" href="#!" role="button"><img width="30px"
                            src="/snipp-cards/master.png" alt=""></a>

                    <!-- Google -->
                    <a class="btn  btn-floating m-1" href="#!" role="button"><img width="30px"
                            src="/snipp-cards/maestro.png" alt=""></a>

                    <!-- Instagram -->
                    <a class="btn  btn-floating m-1" href="#!" role="button"><img width="40px"
                            src="/snipp-cards/rupay.png" alt=""></a>


                    <!-- Linkedin -->
                    <a class="btn  btn-floating m-1" href="#!" role="button"><img width="40px"
                            src="/snipp-cards/PP_Acceptance_Marks_for_LogoCenter_266x142.png" alt=""></a>

                    <!-- Github -->
                    <a class="btn  btn-floating m-1" href="#!" role="button"><img width="30px"
                            src="/snipp-cards/download_GnGcaAb.jpg" alt=""></a>

                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Copyright:
                <a class="text-white" style="text-decoration: none;"
                    href="https://mdbootstrap.com/">electra@gmail.com</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>





    {{!-- footer --}}

    <script src="/javascripts/order.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="/javascripts/fetch.js"></script>

    {{!-- seat alert CDN --}}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    {{!-- sweet alert --}}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/javascripts/bootsrap.min.js"></script>

    <script>
        (function ($) {

            "use strict";

            $('nav .dropdown').hover(function () {
                var $this = $(this);
                $this.addClass('show');
                $this.find('> a').attr('aria-expanded', true);
                $this.find('.dropdown-menu').addClass('show');
            }, function () {
                var $this = $(this);
                $this.removeClass('show');
                $this.find('> a').attr('aria-expanded', false);
                $this.find('.dropdown-menu').removeClass('show');
            });

        })(jQuery);

    </script>

</body>

</html>