<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/CodSuccess.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    {{!-- GOOGLE FOUNT --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>



    {{!-- CROPER CDN --}}

    <link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
    <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet" />
    <script src="https://unpkg.com/dropzone"></script>
    <script src="https://unpkg.com/cropperjs"></script>

    <style>
        img {
            display: block;
            max-width: 100%;
        }

        .preview {
            overflow: hidden;
            width: 160px;
            height: 160px;
            margin: 10px;
            border: 1px solid red;
        }

        .modal-lg {
            max-width: 1000px !important;
        }

        .overlay {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            background-color: rgba(255, 255, 255, 0.5);
            overflow: hidden;
            height: 0;
            transition: .5s ease;
            width: 100%;
        }

        .image_area:hover .overlay {
            height: 50%;
            cursor: pointer;
        }

        .text {
            color: #333;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>






</head>

<body>




    <!-- Header -->
    <div class="container-fluid sticky-top">

        <header class="row">





           <div class="col-12 bg-dark p-3">
                <div class="row align-item">
                    <div class="col-lg-auto text-center">
                      
                            <strong> <a class="text-white site-logo" style="text-decoration: none;"
                                    href="/">Electra</a></strong>
                           
                    </div>
                    <div class="col-lg-5 mx-auto mt-lg-0" style="font-family: 'Open Sans Condensed', sans-serif;">
                        <form action="/search" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <input name="content" type="text" class="form-control border-dark"
                                        placeholder="Search..." required>
                                    <button type="submit" class="btn btn-warning">
                                        <span class="text-dark material-icons">
                                            search
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>



                    <div class="col-lg-auto text-center text-lg-left header-item-holder ">



                        <a href="/wishlist" class="header-item">
                            <i class="text-white far fa-heart me-2"></i>

                            <span style="position: relative; bottom: 10px; right: 20px;"
                                class="bg-danger badge badge-light" id="countWishlist"></span>

                        </a>

                        <a href="/cart" class="header-item">
                            <i class="far fa-shopping-bag me-2 text-white"></i>



                            <span style="position: relative; bottom: 10px; right: 20px;"
                                class=" bg-danger badge badge-light" id="countCart"></span>


                        </a>
                        <a class="text-decoration-none dropdown-toggle text-white" href="#" role="button"
                            id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            {{#if sessionData}}

                            {{sessionData.Name}}
                            {{else}}
                            Account
                            {{/if}}

                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {{#unless sessionData}}

                            <li><a class="text-decoration-none dropdown-item" href="/login">Login</a></li>
                            {{/unless}}

                            {{#if sessionData}}
                            <li><a class="text-decoration-none dropdown-item" href="/logout">Logout</a></li>
                            <li><a class="text-decoration-none dropdown-item" href="/orders-page">My
                                    Order</a></li>
                            <li><a class="text-decoration-none dropdown-item" href="/profile">My profile</a>
                            </li>

                            {{/if}}
                        </ul>


                    </div>
                    {{!-- <div class="col-lg-auto dropdown">

                    </div> --}}
                </div>

            </div>
        </header>
    </div>


    <nav class="navbar navbar-expand-lg ftco_navbar  ftco-navbar-light" id="ftco-navbar">
        <div class="container-fluid">

            <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="text-white fa fa-bars"></span> Categories
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav m-auto">
                    {{#each Category}}
                    <li class="nav-item active"><a href="/getProductsByCategory/{{this.CategoryName}}"
                            class="nav-link">{{this.CategoryName}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </nav>
    <!--header -->

    <div class="container-fluid">
        <div class="row min-vh-100">







            <form action="/edit-profile" method="post" enctype="multipart/form-data">
                <div class="container pb-5">
                    <h1 class="text-center">Profile Edit</h1>
                    <div class="main-body">

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card">
                                    <div style="min-height: 450px;" class="card-body">
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <img id="imgview1" src="/profile-images/{{userBio._id}}11.jpg" alt="  "  style="overflow: hidden;"
                                                class="rounded-circle p-1 bg-primary" width="110" height="110">
                                            <div class="mt-3">
                                                <h4>{{userBio.Name}}</h4>
                                            </div>
                                        </div>

                                        <div class="list-group-item d-flex justify-content-center lh-sm mb-1">
                                            <h6><a class="text-decoration-none" href="/profile">Profile</a></h6>
                                        </div>
                                        <div class="list-group-item d-flex justify-content-center lh-sm mb-1">
                                            <h6><a class="text-decoration-none" href="/orders-page">My Orders</a></h6>
                                        </div>
                                        <div class="list-group-item d-flex justify-content-center lh-sm mb-1">
                                            <h6><a class="text-decoration-none" href="/wishlist">Wishlist</a></h6>
                                        </div>
                                        <div class="list-group-item d-flex justify-content-center lh-sm mb-1">
                                            <h6><a class="text-decoration-none" href="/cart">My Cart</a></h6>
                                        </div>
                                        <div class="list-group-item d-flex justify-content-center lh-sm">
                                            <h6><a class="text-decoration-none" href="/saved-address">Manage
                                                    Addresses</a>
                                            </h6>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">



                                <div style=" min-height: 450px;" class="card">
                                    <div class="container">


                                        <div class="row mt-3">

                                            <div class="col-md-12">
                                                <label class="labels">Name</label>

                                                <input name="Name" type="text" class="form-control mb-1"
                                                    value="{{userBio.Name}}">
                                            </div>

                                            <div class="col-md-12">
                                                <label class="labels">Mobile Number</label>
                                                {{!-- <small style="display: block;"
                                                    class="text-danger">hsjfjslfjsldjflsfjlk</small> --}}
                                                <input name="mobile" type="text" class="form-control"
                                                    value="{{userBio.mobile}}">
                                            </div>







                                            <div class="col-md-12 mt-2">
                                                <label class="labels" for="email">Email</label>
                                                {{!-- <small style="display: block;"
                                                    class="text-danger">hsjfjslfjsldjflsfjlk</small> --}}
                                                <input name="Email" type="email" id="email" class="form-control"
                                                    value="{{userBio.Email}}" required>
                                            </div>





                                            <div class="d-inline m-3 ">



                                                <label for="gendr">Gender:</label>


                                                <select class="ms-5 btn border" id="cars" name="Gender">
                                                    {{#if userBio.Gender}}
                                                    <option value="{{userBio.Gender}}">{{userBio.Gender}}</option>
                                                    {{/if}}
                                                    {{#unless userBio.Gender}}
                                                    <option>Choose ...</option>
                                                    {{/unless}}
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other">Other</option>

                                                </select>
                                            </div>







                                            <p>
                                                <label class="ms-3" for="date">Date Of Birth:</label>
                                                {{#if dobOk}}
                                                <input value="{{userBio.DOB}}" name="DOB" class="ms-3" type="date"
                                                    id="date">
                                                {{else}}
                                                <input name="DOB" class="ms-3" type="date" id="date">
                                                {{/if}}

                                            </p>

                                            <div class="mt-2">

                                                <label for="formFileSm" class="form-label">Update profile
                                                    picture</label>
                                                <input name="ProfileImage" class="form-control form-control-sm"
                                                    id="file1" type="file" onchange="return fileValidation1()">



                                            </div>
                                        </div>
                                    </div>






                                </div>


                            </div>



                            <div class="col-lg-3">
                                <div style="" class="">
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-warning m-1" type="button" style="display: none;"
                                            id="crop-btn1">Crop</button>
                                    </div>

                                    <div style="display: flex; justify-content: center; margin-top: 5px;">
                                        <div id="image-box1" style="width: 350px; height: 350px; display: none;">
                                        </div>



                                    </div>

                                    <div class="text-center" style="width: 100%">

                                        <div class="container d-grid">
                                            <button id="confirm-btn1" type="submit" class="btn btn-danger">Save
                                                Changes</button>
                                        </div>


                                    </div>
                                </div>








                            </div>


                        </div>


                    </div>

                </div>
            </form>

        </div>

        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn  btn-floating m-1" href="#!" role="button"><img width="30px"
                            src="/snipp-cards/visa.png" alt=""></a>

                    <!-- Twitter -->
                    <a class="btn btn-floating m-1" href="#!" role="button"><img width="30px"
                            src="/snipp-cards/master.png" alt=""></a>

                    <!-- Google -->
                    <a class="btn  btn-floating m-1" href="#!" role="button"><img width="30px"
                            src="/snipp-cards/maestro.png" alt=""></a>

                    <!-- Instagram -->
                    <a class="btn  btn-floating m-1" href="#!" role="button"><img width="40px"
                            src="/snipp-cards/rupay.png" alt=""></a>


                    <!-- Linkedin -->
                    <a class="btn  btn-floating m-1" href="#!" role="button"><img width="40px"
                            src="/snipp-cards/PP_Acceptance_Marks_for_LogoCenter_266x142.png" alt=""></a>

                    <!-- Github -->
                    <a class="btn  btn-floating m-1" href="#!" role="button"><img width="30px"
                            src="/snipp-cards/download_GnGcaAb.jpg" alt=""></a>

                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Copyright:
                <a class="text-white" style="text-decoration: none;"
                    href="https://mdbootstrap.com/">electra@gmail.com</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>



    <script>


        //Cropper js function

        function fileValidation1() {

            const imagebox = document.getElementById('image-box1')
            const crop_btn = document.getElementById('crop-btn1')
            var fileInput = document.getElementById('file1');

            var filePath = fileInput.value;
            var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
            if (!allowedExtensions.exec(filePath)) {
                fileInput.value = '';

                swal({
                    title: "Ther is a problem!",
                    text: "This file type is not sapported!",
                    icon: "error",
                    dangerMode: true,

                })
                return false;
            } else {
                //Image preview
                const img_data = fileInput.files[0]
                const url = URL.createObjectURL(img_data)
                imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
                const image = document.getElementById('image')
                document.getElementById('image-box1').style.display = 'block'
                document.getElementById('crop-btn1').style.display = 'block'
                document.getElementById('confirm-btn1').style.display = 'none'

                const cropper = new Cropper(image, {
                    autoCropArea: 1,
                    viewMode: 1,
                    scalable: 1,
                    zoomable: 1,
                    movable: 1,
                    aspectRatio: 19 / 19,
                    //  preview: '.preview',
                    minCropBoxWidth: 100,
                    minCropBoxHeight: 100,
                })
                crop_btn.addEventListener('click', () => {
                    cropper.getCroppedCanvas().toBlob((blob) => {
                        let fileInputElement = document.getElementById('file1');
                        let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                        let container = new DataTransfer();

                        container.items.add(file);
                        const img = container.files[0]
                        var url = URL.createObjectURL(img)
                        fileInputElement.files = container.files;
                        document.getElementById('imgview1').src = url
                        document.getElementById('image-box1').style.display = 'none'
                        document.getElementById('crop-btn1').style.display = 'none'
                        document.getElementById('confirm-btn1').style.display = 'block'
                    }, 'image/webp', 0.5);
                });
            }
        }

    </script>











    {{!-- content --}}



    <script src=" https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>





    {{!-- seat alert CDN --}}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="/javascripts/order.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <script src="/javascripts/edit-profile.js"></script>
        <script src="/javascripts/bootsrap.min.js"></script>
    <script>
        (function ($) {

            "use strict";

            $('nav .dropdown').hover(function () {
                var $this = $(this);
                $this.addClass('show');
                $this.find('> a').attr('aria-expanded', true);
                $this.find('.dropdown-menu').addClass('show');
            }, function () {
                var $this = $(this);
                $this.removeClass('show');
                $this.find('> a').attr('aria-expanded', false);
                $this.find('.dropdown-menu').removeClass('show');
            });

        })(jQuery);

    </script>
</body>

</html>